footer{
  position:fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(220, 231, 219);
  counter-reset: #42f57d;
}

th{ 
  color:#fff;
      }

input {
  border: 2px solid;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.25rem;
  min-width: 125px;
  padding: 0.5rem;
  transition: border-color 0.5s ease-out;
}
input:optional {
  border-color: gray;
}
input:required:valid {
  border-color: rgb(194, 212, 194);
}
input:invalid {
  border-color: rgb(212, 86, 75);
}
input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% rgb(201, 218, 201);
  background-size: 25px;
}
input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}